

  .grid-container {
   display: grid;
   grid-template-columns: auto auto auto auto;
                   }
   .grid-item { background-color: #F3C17C;}
    body {background-color: white;}
    table, td {border: 1px solid #ffffff;}
    td {padding: 10px;}	
	

	
 